%h1 Account

%nav(role='navigation')
  %ul
    %li.active= link_to 'Foo', '#'
    %li= link_to 'Bar', '#'

#content
  %form
    %label(for='email') Email:
    %input(type='text' id='email')

    %div
      %input(type='submit' value='Update')
