%h1 API

%nav(role='navigation')
  %ul
    %li.active= link_to 'Your Key', '#'
    %li= link_to 'Request Builder', '#'

#content
  %p Your API key is important because Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam orci, tempus sit amet dolor id, accumsan lobortis massa. Maecenas placerat feugiat quam, aliquam egestas dolor vulputate quis. Nulla vestibulum commodo enim. Etiam varius justo odio, a scelerisque diam interdum sed. In commodo, leo a ultrices iaculis, tortor augue ornare sem, sit amet auctor metus massa sed felis.
  %ul
    %li abc123abc123

  %div
    = link_to 'New API Key', '#'
