// https://kuler.adobe.com/Fall-Grass-color-theme-2487072/edit/?copy=true&base=2&rule=Custom&selected=1&name=Copy%20of%20Fall%20Grass&mode=rgb&rgbvalues=0.14901960784313725,0.3333333333333333,0.45098039215686275,0.2196078431372549,0.42745098039215684,0.45098039215686275,0.5058823529411764,0.6509803921568628,0.5411764705882353,0.6235294117647059,0.7490196078431373,0.5607843137254902,0.8313725490196079,0.8509803921568627,0.6901960784313725
// https://kuler.adobe.com/TickTack-color-theme-2458657/edit/?copy=true&base=0&rule=Custom&selected=0&name=Copy%20of%20TickTack&mode=rgb&rgbvalues=0.8705882352941177,0.33725490196078434,0.0196078431372549,0.9686274509803922,0.6274509803921569,0.20784313725490197,0.6941176470588235,0.8705882352941177,0.7098039215686275,0.9372549019607843,0.9254901960784314,0.792156862745098,0.396078431372549,0.6705882352941176,0.6509803921568628

$background-color: #ecf0f1;
$error-color: #e74c3c;
$success-color: #82bf56;
$info-color: #f7a035;

$darkest-color: #2c3e50;
$lightest-color: #3498db;
$light-color: #2980b9;

$default-color: #4b4b4b;
$white: #fff;
$border-color: $light-color;
$link-color: #de5605;
$button-color: #aaa;
