@import "colors";

.button {
	background-color: $button-color;
	border-radius: 6px;
  color: #ffffff;
	display: inline-block;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;

  &:hover {
    background-color: darken($button-color, 10%);
    text-decoration: none;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.button.danger {
  background-color: $warning-color;
	font-size: 15px;

  &:hover {
    background-color: darken($warning-color, 10%);
  }
}

.button.primary {
	background-color: $lightest-color;

  &:hover {
    background-color: darken($lightest-color, 10%);
  }
}
