footer {
  background-color: $lightest-color;
  color: $background-color;
  padding: $default-spacing / 2;
  height: $default-height;

  #footer {
    text-align: center;
    @include centered;
  }
}
