fieldset {
  background-color: $background-color;
  margin: $default-spacing 0;

  legend {
    font-weight: bold;
  }

  ol {
    list-style-type: none;
  }

  li {
    margin-bottom: $default-spacing;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: $default-spacing / 4;
  }

  input[type=text] {
    padding: 5px;
    width: 50%;
  }

  textarea {
    height: 200px;
    padding: 5px;
    width: 50%;
  }
}
