#page-header {
  background-color: $lightest-color;
  height: $default-height;

  #nav {
    height: $default-height;
    @include centered;
  }

  .brand {
    width: 100px;

    a {
      padding: 0;

      &:hover {
        background-color: $lightest-color;
      }
    }
  }

  li {
    height: inherit;
  }

  li.active {
    background-color: $darkest-color;
  }

  a {
    color: $background-color;
    display: block;
    height: inherit;
    padding: $default-spacing;

    &:hover {
      background-color: $darkest-color;
      text-decoration: none;
    }
  }
}
