#container {
  background-color: $white;
  @include centered;
}

#main {
  margin-top: 30px;
  padding: 0 $default-spacing $default-spacing $default-spacing;
}

#content {
  clear: left;
  border-top: 1px solid $border-color;
}
