nav {
  float: left;
  height: inherit;

  ul {
    float: left;
    height: inherit;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    li {
      float: left;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@mixin tabbed($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

nav#subnav {
  ul {
  }

  li {
    background-color: $light-color;
    @include tabbed(6px);

    &.active {
      background-color: $darkest-color;
    }

    a {
      @include tabbed(6px);
      color: $white;
      display: block;
      height: inherit;
      padding: $default-spacing - 10;

      &:hover {
        background-color: $darkest-color;
        text-decoration: none;
      }
    }
  }

  li.active {
  }
}
