#notifications {
  div {
    color: $background-color;
    margin: 15px 0;
    padding: $default-spacing - 5 $default-spacing;
  }

  .site {
    background-color: $warning-color;
  }

  .success {
    background-color: $success-color;
  }

  .info {
    background-color: $info-color;
  }

  .error {
    background-color: $warning-color;
  }
}

