#notifications {
  height: 50px;
  margin: 0 $default-spacing;
  padding-top: $default-spacing;

  div {
    color: $background-color;
    padding: $default-spacing - 5 $default-spacing;
    @include border-radius;
  }

  .site {
    background-color: $error-color;
  }

  .notice {
    background-color: $success-color;
  }

  .info {
    background-color: $info-color;
  }

  .error {
    background-color: $error-color;
  }
}
