- if Rails.env == 'development'
  #color-scheme
    .background-color background color
    .error-color error color
    .success-color success color
    .info-color info color
    .darkest-color darkest-color
    .lightest-color lightest-color
    .light-color light-color
    .default-color border-color
    .link-color link-color
    .button-color button-color
